<style>
	.hidden {
		visibility: hidden;
	}
</style>

<h2>Todo Lists</h2>

<div id="lists">

</div>

<%= button_to "Make New List", new_todo_list_url, :method => :get %>

<script type="application/json" id="all_lists">
	<%= @todo_lists.to_json(:include => :items).html_safe %>
</script>

<%= File.read("./app/views/todo_lists/_show.html").html_safe %>

<script type="text/javascript">
	$(function() {
		var tasks = JSON.parse($('#all_lists').html());
		var list_div = $('#lists');
		_.each(tasks, function(list, i) {
			var $p = $('<p></p>');
			var list_link = $('<a href="#">' + list.title + '</a>');
			list_link.attr('id', 'list_' + i);
			$p.html(list_link);
			list_div.append($p);

			var templateCode = $("#list_items").html();
			var templateFunction = _.template(templateCode);
			var renderedTemplate = templateFunction({
				items: list.items
			});
			// $p.find('ul').remove();
			$p.append(renderedTemplate);
			$p.find('ul').hide();
			$('#list_' + i).click(function () {
				console.log(this);
				$p.find('ul').toggle('slow');
			});
			

			// $('#list_' + i).click(function () {
			// 	var templateCode = $("#list_items").html();
			// 	var templateFunction = _.template(templateCode);
			// 	var renderedTemplate = templateFunction({
			// 		items: list.items
			// 	});
			// 	$p.find('ul').remove();
			// 	$p.append(renderedTemplate);
			// });
		});
	});
</script>